/*
Sectioning Elements

The base sectioning element settings.

Styleguide: base.sectioning
*/
html {
  font-size: var(--root-font-size);
}
body {
  font: var(--text-size)/var(--default-line-height) var(--font-sans-serif);
}
